* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    text-align: center;
    font-family: cursive;
}

.board {
    width: 22rem;
    height: 22rem;
    margin: auto;
    border: 1px solid
    white;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 7rem;
    height: 7rem;
    border: 1px solid
    white;
    margin-right: 4px;
    border-radius: 30px;
    background:
            #78bec5;
    opacity: 80;
}

.square:hover {
    background:
            #ecaf4f;
    cursor: pointer;
}

.char {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 800;
    margin-top: 15%;
    color:
            #dc685a;
    font-family: cursive;
}