@page "/login"
@using UserInterface.Services
@inject UsernameService UsernameService
@inject NavigationManager Nav

<h3>Введите имя</h3>

<input @bind="username" />
<button @onclick="Save">Продолжить</button>

@code {
    private string username;

    private void Save()
    {
        UsernameService.Username = username;
        Nav.NavigateTo("/");
    }
}